<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/menu.css' />
    <link rel='stylesheet' href='/stylesheets/bar.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= header %>
    </title>
</head>

<body>
        <div class="header-top">
                <nav class="nav-home">
                  <div class="logo-mobile">
                    <img src="images/WildTiger-Logo.png" alt="">
                    <img src="images/WildTiger-logo-black.png" alt="">
                  </div>
                  <ul class="nav-ul">
                    <li><a href="../">Home</a></li>
                    <li><a href="../menu">Menu</a></li>
                    <li class="wild-logo-li wild-logo-li-black"><a class="wild-tiger-logo wild-tiger-logo-black" href="/">Wild Tiger</a></li>
                    <li><a href="/">Bar</a></li>
                    <li><a href="../#locations">Locations</a></li>
                  </ul>
        
                  <div class="menu-toggle sticky-toggle">
                      <div class="hamburgar"></div>
                    </div>
                  </div>
            
                </nav>
        
    <div class="container img-menu">
        <img src="/images/bar-menu.jpg" alt="">
        <div class="text-block">
            <h1>Happy Hours</h1>
            <span>3:00 - 6:00</span>
        </div>
        <div class="arrow-down"><ion-icon name="arrow-down"></ion-icon></div>
    </div>


    <section class="menus-section"  id="menu-section--js">
        <div class="food_details" data-aos="fade-up">
           <h2>Appeitzers</h2>
        </div>
         <div class="grid">
            <% for(var i=0; i<menu.length; i++){ %>
            <%if(menu[i].category === 'APPETIZERS'){%>
            <div class="col span-1-of-2 food_menu" data-aos="fade-up">
                <p class="food_name">
                    <%= menu[i].food_name %>
                </p>
                <p class="food_desc">
                    <%= menu[i].food_desc %>
                </p>
                <p class="food_price">
                  $<%= menu[i].food_price %>
                </p>
            </div>
            <% } %>
            <%}%>

        </div>

        <p class="notes-menu" data-aos="fade-up">Happy hour menu available for dine in only.</p>
        <p class="notes-menu-imp notes-menu" data-aos="fade-up">HAPPY HOUR FOOD REQUIRES A MINIMUM OF ONE DRINK PER <br> PERSON.</p>

    </section>


    <section class="menus-section" data-aos="fade-up">
        <div class="food_details data-aos="fade-up"">
           <h2>Drinks</h2>
        </div>
        <div class="grid">
            <% for(var i=0; i<menu.length; i++){ %>
            <%if(menu[i].category === 'DRINKS'){%>
            <div class="col span-1-of-2 food_menu" data-aos="fade-up">
                <p class="food_name">
                    <%= menu[i].food_name %>
                </p>
                <p class="food_desc">
                    <%= menu[i].food_desc %>
                </p>
                <p class="food_price"> 
                    &<%= menu[i].food_price %>
                </p>
            </div>
            <% } %>
            <%}%>

        </div>

    </section>

    <!-- FOOTER -->
    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="../menu">Menu</a></li>
                    <li><a href="/bar">Bar</a></li>
                    <li><a href="../#locations">Where To Find Us?</a></li>
                </ul>
            </div>

            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href="https://www.facebook.com" target="_blank">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a></li>
                    <li><a href="#">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a></li>
                    <li><a href="#">
                            <ion-icon name="logo-googleplus"></ion-icon>
                        </a></li>
                    <li><a href="#">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>Copyright &copy; 2018 by Wild Tiger. All rights reserved.</p>
        </div>
    </footer>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
        AOS.init();
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="javascripts/jquery.waypoints.min.js"></script>
  <script src="javascripts/menu.js"></script>

</body>

</html>