<!DOCTYPE html>
<html>
  <head>
    <title><%= header %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container img-menu">
      <img src="/images/Menu-image.jpg" alt="">
      <div class="text-block">
        <h1>Lunch/dinner</h1>
      </div>
    </div>

    <section class="menus-section">
      <h2>Appeitzers</h2>
    <div class="grid">
      <% for(var i=0; i<menu.length; i++){ %>
          <%if(menu[i].category === 'APPEITZERS'){%>
            <div class="col span-1-of-2 food_menu">
               <p class="food_name"><%= menu[i].food_name %></p>
                <p class="food_desc"><%= menu[i].food_desc %></p>
                <p class="food_price">$<%= menu[i].food_price %></p>
              </div>
                <% } %>
        <%}%>
  
    </div>      
    </section>

    <section class="menus-section">
      <div class="food_details">
        <h2>Soup</h2>
        <p>Your choice of Chicken, Tofu or  Vegetables $8.95,<br>  Beef or Pork   $10,<br>
            Shrimp   $12,  Seafood   $ 14</p>
          </div>
      <div class="grid">
        <% for(var i=0; i<menu.length; i++){ %>
            <%if(menu[i].category === 'SOUP'){%>
              <div class="col span-1-of-2 food_menu">
                 <p class="food_name"><%= menu[i].food_name %></p>
                  <p class="food_desc"><%= menu[i].food_desc %></p>
                  <p class="food_price"><%= menu[i].food_price %></p>
                </div>
                  <% } %>
          <%}%>

      </div>
      <p class="hot-lvl">Spice level  : *mild,  **medium,  ***hot, <span> ****very hot</span></p>

      </section>
  
      <section class="menus-section">
          <h2>Salad</h2>
        <div class="grid">
          <% for(var i=0; i<menu.length; i++){ %>
              <%if(menu[i].category === 'SALAD'){%>
                <div class="col span-1-of-2 food_menu">
                   <p class="food_name"><%= menu[i].food_name %></p>
                    <p class="food_desc"><%= menu[i].food_desc %></p>
                    <p class="food_price">$<%= menu[i].food_price %></p>
                  </div>
                    <% } %>
            <%}%>
      
        </div>      
        </section>
    
    
    <!--
    <p>Welcome to <% for(var i=0; i< menu.length; i++){ %>
      <ul>
        <li>category : <%= menu[i].category %></li>
        <li style="color:blueviolet"> Name : <%= menu[i].food_name %> </li>
        <li style="background-color:coral"> Price <%= menu[i].food_price %> </li>
      </ul>
    <% } %></p>
    -->
  </body>
</html>